.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    background: none;
}

.checkoutProduct__info {
    padding-left: 20px;
    margin-top: 30px;
}

.checkoutProduct__info > button {
    background: #f0c24b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #846a29;
    color: #111;
}

.checkoutProduct__image {
    object-fit: contain;
    width: 300px;
    height: 300px;
}

.checkoutProduct__title {
    font-size: 37px;
    font-weight: 800;
}

.checkoutProduct_rating {
    display: flex;
}